@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as ngx-functions;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as ngx-mixins;

::ng-deep {
    
    .mat-tab-header-pagination{
        display: none;
    }
    .mat-tab-labels {

        .mat-tab-label {
            flex-shrink: 0;
            flex-grow: 1;
            padding: 0 ngx-variables.$spacing-md !important;
        }
    }

    .mat-tab-body-wrapper {
        overflow: unset;
        margin: 0;
        display: block;

        .mat-tab-body {
            &.mat-tab-body-active {
                overflow: unset;

                .mat-tab-body-content {
                        overflow: unset;
                        display: flex;
                        flex-direction: column;
                        padding-inline: 0;
                        row-gap: 1rem;

                        .script-cont{
                            display: flex;
                            flex-direction: column;
                            gap: ngx-variables.$spacing-md;
                        }
                }
            }
        }
    }
}
