<mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
    <mat-tab label="{{'TABS.GENERAL' | translate}}">
        <span class="body-xs normal">{{'EDITOR.DESC1' | translate}}</span>
        <span class="body-xs normal">{{'EDITOR.DESC2' | translate}}</span>

        <div class="cb-container">
            <pep-checkbox [value]="configuration?.scriptConfig?.hideLoader" [label]="'EDITOR.HIDE_LOADER' | translate" [renderTitle]="false" (valueChange)="onScriptBlockFieldChange('hideLoader',$event)"></pep-checkbox>
            <span class="body-xs normal">{{'EDITOR.HIDE_LOADER_DESC' | translate}}</span>
        </div>
        <div class="cb-container">
            <pep-checkbox [value]="configuration?.scriptConfig?.matchContHeight" [label]="'EDITOR.MATCH_CONT_HEIGHT' | translate" [renderTitle]="false" (valueChange)="onScriptBlockFieldChange('matchContHeight',$event)"></pep-checkbox>
            <span class="body-xs normal">{{'EDITOR.MATCH_CONT_HEIGHT_DESC' | translate}}</span>
        </div>
        <pep-textbox [label]="'EDITOR.HEIGHT' | translate" [disabled]="configuration?.scriptConfig?.matchContHeight" type="decimal" [value]="configuration?.scriptConfig?.height" (valueChange)="onScriptBlockFieldChange('height',$event)">
        </pep-textbox>
        <div>
            <pep-textbox [label]="'EDITOR.DELAY_DURATION' | translate" type="decimal" [value]="configuration?.scriptConfig?.minDelay" (valueChange)="onScriptBlockFieldChange('minDelay',$event)">
            </pep-textbox>
            <label class="body-xs normal">{{'EDITOR.DELAY_DURATION_DESC' | translate}}</label>
        </div>
    </mat-tab>
    <!-- <mat-tab cdkDropListGroup label="{{'TABS.CONTENT' | translate}}"></mat-tab> -->
    <mat-tab  label="{{'TABS.CONTENT' | translate}}">
                <script-editor *ngFor="let currentScript of configuration?.scripts;" 
                        [id]="currentScript?.id" [showActions]="true" (hostEvents)='onHostObjectChange($event)'
                        (editClick)='onScriptEditClick($event);' (removeClick)='onScriptRemoveClick($event);'
                        [configuration]="configuration" [pageParameters]="pageParameters"
                        style="cursor: grab;">
                </script-editor>
                <pep-button class="add-content-button" value="{{'ACTIONS.ADD_SCRIPT' | translate}}" styleType="regular" iconName="number_plus" iconPosition="end"
                        (buttonClick)="addNewScriptClick()"></pep-button>
        </mat-tab>
</mat-tab-group>